/* generics */
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}
html {
    font-size: 18px;
    /* Pixel size for this challenge is 18px = 1.125rem = 120% */
    font-family: 'Kumbh Sans', sans-serif;
}
body {
    /* margin: 2rem auto;
    background-image: 
        url("../images/bg-pattern-top.svg"),
        url("../images/bg-pattern-bottom.svg"); */
    background-color: #19A1AD;
    /* background-repeat: no-repeat;
    background-position: bottom left 50%, top right 50%; */
}
a:any-link {
    color: rgb(252, 237, 106);
}
/* end generics */

/* card */
.card {
    background-image: 
        url("../images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    width: 350px;
    height: 370px;
    background-color: #fff;
    margin: auto;
    margin-top: 10rem;
    border-radius: 12px;
    box-shadow: 0 0 100px hsl(227, 10%, 46%, 50%);
}
body::before {
    top: 0;
    left: 8%;
    background-image: url("../images/bg-pattern-top.svg");
}
body::after {
    top: 100%;
    left: 80%;
    background-image: url("../images/bg-pattern-bottom.svg");
}
.profile-pic {
    margin: auto;
    padding-top: 80px;
}
.profile-pic img {
    border-radius: 60px;
    border: 4px solid #fff;
    display: block;
    margin: auto;
}
.name-loc {
    margin: 10px auto;
    text-align: center;
    color: hsl(227, 10%, 46%);
}
.name {
    font-weight: 700;
    color: #000;
    margin-right: 10px;
}
.location {
    margin-top: 8px;
    font-size: .8rem;
}
.card hr {
    margin: 18px auto;
    border-top: 1px dotted hsl(227, 10%, 46%);
;
}
.stat-line {
    margin-top: 10px;
    color: hsl(227, 10%, 46%);
    display: grid;
    grid-template-columns: repeat(3, 10px);
    grid-template-rows: min-content;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    font-size: 14px;
    text-align: center;
}
.numb {
    font-weight: 700;
    color: #000;
}
.label {
    font-size: 12px;
}

/* footer */
.attribution {
    margin-top: 2rem;
    text-align: center;
    font-size: .6rem;
}